@font-face {
    font-family: "ColorTube";
    src: url("./fonts/ColorTube.otf");
}

@font-face {
    font-family: "Comforta";
    src: url("./fonts/Comfortaa-Bold.ttf");
}

:root {
    --green: rgb(22, 163, 63);
    --blue: rgb(0, 116, 188);
    --grey: rgb(198, 195, 181);
}


#header {
    height: 100px;
    font-family: "ColorTube";
    font-size: 40px;
    border-bottom: 4px solid var(--grey);
    padding-top: 40px;
    padding-left: 60px;
    box-sizing: content-box;
}

#body {
    background-color: #f2f6ff;
}

#usefull {
    color: var(--blue);
}

#people {
    color: var(--green);
}

.input-name-wrap {
    height: 50px;
}
.tooltip-input {
    background-color: #e4e5e8;
    display: block;
    margin-right: 15px;
    
}

#tooltip-text {
    font-size: 20px;
}

.man-card {
    display: flex;
    flex-direction: column;
    background-color: #fffdff;
    border-radius: 10px;
    height: 200px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.panel-button {
    width: 100%;
    height: 50px;
    color: black;
    background-color: rgb(202, 245, 230);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0px;
}


#left-button{
    border-radius: 25px 0px 0px 25px;
    margin-right: 10px;
}

#right-button{
    border-radius: 0px 25px 25px 0px;
}
#center-button{
    border-radius: 25px 25px 25px 25px;
}

.categ-list:hover {
    cursor: pointer;
}


.categ-div {
    border: 4px solid #e4e5e8;
    background-color: #e4e5e8;
    border-radius: 10px;
    height: 320px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#category {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e4e5e8;
    width: 100%;
    display: inline-block;
}



.delete-button-categ, .edit-button-categ  {
    border: 0px;
    background-color: #e4e5e8;
    top: 0;
    right: 0;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

.add-button-categ, .save-button-categ {
    border: 0px;
    background-color: #e4e5e8;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
}

.save-button-man {
    border: 0px;
    background-color: #e4e5e8;
    top: 0;
    border-radius: 10px;
    z-index: 2;
    position: absolute; position: absolute;
    right: 0;
}


.delete-img-categ, .save-img-categ, .edit-img-categ {
    width: 40px;
}
.add-img-categ {
    width: 30px;
}

.input-data-man{
    height: 50px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 7px; 
    text-align: center;
}
.input-data-man:focus{
    outline:none;
}
.name-of-input-data{
    height: 50px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif; 
    display: inline-block;
    padding-left: 20px;
    padding-top: 2px;
    background-color: #fffdff;
}
.man-form{
    margin-top: 15px;
}

#edit-man-table-button {
    border: 0px;
    border-radius: 10px;
    background-color: white;
}
#del-man-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
}
#edit-man-wrap {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 0;
}


#del-man-table-button {
    border: 0px;
    border-radius: 10px;
    background-color: white;
}

#edit-man-table-button:hover{
    cursor: pointer;
}
#del-man-table-button:hover{
    cursor: pointer;
}

#categ-name {
    font-size: 30px;
    text-align: center;
    font-family: "Comforta";
}

.input-in-categ {
    font-size: 16px;
}

.name-of-input-in-categ {
    font-size: 19px;
   }
   .input-in-categ {
    font-size: 18px;
   }
   .tooltip-input {
    font-size: 20px;
   }


@media (min-width: 1400px) {
   #root {
    width: 70%;
    margin: 0 auto;
   }
  
   .panel-button {
    height: 60px;
    font-size: 26px;
   }
   
   .name-of-input-data {
    height: 60px;
    padding-top: 7px;
   }
   .input-data-man {
    height: 60px;
   }
   .input-name-wrap {
    height: 60px;
   }
   #header {
    font-size: 45px;
   }

   
   
}
@media (min-width: 576px) and (max-width: 768px) {
    .input-data-man {
        font-size: 17px;
    }
    .name-of-input-in-categ {
        font-size: 17px;
       }
       .input-in-categ {
        font-size: 17px;
       }
       .tooltip-input {
        font-size: 17px;
       }
}

@media (max-width: 768px) {
    #root {
        width: 100%;
    }

    .panel-button {
        font-size: 16px;

    }
   #header {
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
    padding-left: 0px;
   }
   .input-data-man {
    font-size: 12px;
    white-space: pre-wrap;
   }
   .name-of-input-data {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
   }
   .categ-div {
    width: 80%;
    left: 10%;
   }
   .name-of-input-in-categ {
    font-size: 16px;
   }
   .input-in-categ {
    font-size: 16px;
   }
   .tooltip-input {
    font-size: 14px;
   }

   @media (max-width: 375px) {
    .name-of-input-in-categ {
        font-size: 12px;
       }
       .input-in-categ {
        font-size: 12px;
       }
       .tooltip-input {
        font-size: 14px;
       }
   }
}

