@font-face {
    font-family: "ColorTube";
    src: url("./fonts/ColorTube.otf");
}

@font-face {
    font-family: "Comforta";
    src: url("./fonts/Comfortaa-Bold.ttf");
}

:root {
    --green: rgb(22, 163, 63);
    --blue: rgb(0, 116, 188);
    --grey: rgb(198, 195, 181);
}



#header {
    height: 100px;
    font-family: "ColorTube";
    font-size: 40px;
    border-bottom: 4px solid var(--grey);
    padding-top: 40px;
    padding-left: 60px;
    box-sizing: content-box;
}

#usefull {
    color: var(--blue);
}

#people {
    color: var(--green);
}

.input-name-wrap {
    height: 50px;
}

.tooltip {
    border: 4px solid var(--green);
    border-radius: 10px;
    padding: 20px;
    z-index: 999999;
    background-color: white;
    
}

#tooltip-text {
    font-size: 20px;
}

.man-card {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--blue);
    border-radius: 10px;
    height: 200px;
    position: relative;
}

.panel-button {
    width: 100%;
    height: 50px;
    color: black;
    background-color: rgb(202, 245, 230);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 0px;
}


#left-button{
    border-radius: 25px 0px 0px 25px;
    margin-right: 10px;
}

#right-button{
    border-radius: 0px 25px 25px 0px;
}
#center-button{
    border-radius: 25px 25px 25px 25px;
}

#new-category-input{
    width: 100%;
    height: 50px;
    border-radius: 0px 25px 25px 0px;
    border: 4px solid var(--blue);
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

#new-category-input:focus{
    outline: none;
}


.categ-list:hover {
    cursor: pointer;
}


.categ-div {
    border: 4px solid var(--blue);
    border-radius: 10px;
    height: 200px;
    padding-top: 20%;
    position: relative;
}




.delete-button-categ {
    border: 0px;
    background-color: white;
    bottom: 3px;
    right: 0;
    border-radius: 10px;
    position: absolute;
}

.delete-img-categ {
    width: 40px;
}

.input-data-man{
    height: 50px;
    border-radius: 0px 25px 25px 0px;
    border: 4px solid var(--green);
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 7px; 
    text-align: center;
}
.input-data-man:focus{
    outline:none;
}
.name-of-input-data{
    height: 50px;
    border-radius:25px 0px 0px 25px;
    border: 4px solid var(--blue);
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif; 
    display: inline-block;
    padding-left: 20px;
    padding-top: 2px;
}
.man-form{
    margin-top: 15px;
}

#edit-man-table-button {
    border: 0px;
    border-radius: 10px;
    background-color: white;
}
#del-man-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
}
#edit-man-wrap {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 0;
}


#del-man-table-button {
    border: 0px;
    border-radius: 10px;
    background-color: white;
}

#edit-man-table-button:hover{
    cursor: pointer;
}
#del-man-table-button:hover{
    cursor: pointer;
}

#categ-name {
    font-size: 30px;
    text-align: center;
    font-family: "Comforta";
}

#category:hover {
    cursor: pointer;
}

@media (min-width: 1400px) {
   #root {
    width: 70%;
    margin: 0 auto;
   }
   #new-category-input {
    height: 60px;
   }
   .panel-button {
    height: 60px;
    font-size: 26px;
   }
   .name-of-input-data {
    height: 60px;
    padding-top: 7px;
    border-radius: 30px 0px 0px 30px;
   }
   .input-data-man {
    height: 60px;
    border-radius: 0px 30px 30px 0px;
   }
   .input-name-wrap {
    height: 60px;
   }
   #header {
    font-size: 45px;
   }
}
@media (min-width: 576px) and (max-width: 1000px) {
    .input-data-man {
        font-size: 17px;
    }
}

@media (max-width: 575px) {
    #root {
        width: 100%;
    }

    .panel-button {
        font-size: 16px;

    }
   #header {
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
    padding-left: 0px;
   }
   .input-data-man {
    font-size: 9px;
    white-space: pre-wrap;
   }
   .name-of-input-data {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
   }
}

